.searchBar {
  white-space: pre-wrap;
  word-wrap: break-word;
  box-shadow: 5px 10px 10px 5px #888888;
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  margin: 35px 0px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.searchBar > input {
  all: unset;
  width: 100%;
}
.searchBar >button>img{
    width: 25px;
    cursor: pointer;
}
