.main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.div1 {
  padding: 25px;
}
.div1:hover {
  background: red;
  transform: rotateZ(90deg);
}
.div2 {
  padding: 25px;
}
.div2:hover {
  background: yellow;
  transform: rotateZ(90deg);
}
.div3 {
  padding: 25px;
}
.div3:hover {
  background: blue;
  transform: rotateZ(90deg);
}
.div4 {
  padding: 25px;
}
.div4:hover {
  background: green;
  transform: rotateZ(90deg);
}
